pandas==2.3.3
numpy==2.3.5
seaborn==0.13.2
scikit-learn==1.7.2
mlflow==3.6.0
fastapi==0.121.3
scipy==1.16.1
uvicorn==0.23.2
pydantic==2.12.4
python-dotenv==1.2.1
joblib==1.5.2
optuna==4.4.0
great-expectations==1.9.1
pytest==9.0.1
gradio
requests==2.32.4
xgboost==3.0.3
